<div class="form-container">
  <div class="form-one" fxLayout="row">
    <!-- Select item -->
    <mat-form-field>
      <mat-select placeholder="Select item">
        <mat-option *ngFor="let item of items" [value]="item.value">
          {{item.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Select quantity -->
    <mat-form-field>
      <mat-select placeholder="Select quantity">
        <mat-option *ngFor="let quantity of quantities" [value]="quantity.value">
          {{quantity.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Select discount">
        <mat-option *ngFor="let discount of discounts" [value]="discount.value">
          {{discount.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Select surcharge">
        <mat-option *ngFor="let surcharge of surcharges" [value]="surcharge.value">
          {{surcharge.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-two">
    <!-- Description -->
    <mat-form-field appearance="outline">
      <mat-label>Item description (optional)</mat-label>
      <textarea matInput placeholder="Write a description"></textarea>
    </mat-form-field>
  </div>
  <div class="form-three">

    <!-- <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="transactions">

          <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef> Item </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.item}} </td>
          </ng-container>


          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.quantity | currency}} </td>
          </ng-container>


          <ng-container matColumnDef="discount">
            <th mat-header-cell *matHeaderCellDef> Discount </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.discount | currency}} </td>
          </ng-container>


          <ng-container matColumnDef="surcharge">
            <th mat-header-cell *matHeaderCellDef> Surcharge </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.surcharge | currency}} </td>
            <td mat-footer-cell *matFooterCellDef> Total </td>
          </ng-container>


          <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef> Cost </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.cost | currency}} </td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
        </table>
      </div> -->

  </div>
</div>
