.cards{
  display: flex;
}
.mycard, .cardclient{
  width: 100%;
  margin: 0.5em;
}
.mat-card-avatar{
  height: 150px;
  width: 150px;
}
.mat-grid-list .mat-grid-tile .mat-card{
  width: 100%;
  margin: 0.5em;
}
.mat-card-header{
  display: flex;
  align-items: center;
}
.inputs-edit mat-form-field{
  width: 100%;
}
.img-head{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5em;
}
.img-head a{
  margin-top: 1em;
}
@media (max-width: 1024px){
  .cards{
    flex-direction: column;
  }
  mat-card{
    width: 92%;
    margin: 0;
  }
}
@media (max-width: 768px){
  .cards{
    display: block;
  }
  mat-card{
    width: 90%;
    margin: 0;
  }
}
@media (max-width: 425px){
  .mat-card-header{
    flex-direction: column;
  }
  .mat-card-header img{
    margin-bottom: 1em;
  }
  .mat-card-title{
    text-align: center;
  }
}
