<div class="cards">
  <mat-card *ngFor="let card of cards">
    <mat-card-header>
      <div class="img-head">
        <img mat-card-avatar src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png"
          width="150px">
        <a href="javascript:void(0)" (click)="visible()">Edit info</a>
      </div>
      <div class="info-head">
        <mat-card-title>Titulo</mat-card-title>


        <mat-card-subtitle>
          <ul #addno>
            <li>Lorem ipsum</li>
            <li>Lorem ipsum</li>
            <li>Lorem ipsum</li>
            <li>Lorem ipsum</li>
          </ul>
          <div class="inputs-edit">
            <mat-form-field>
              <input matInput placeholder="Input">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Input">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Input">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Input">
            </mat-form-field>
          </div>
        </mat-card-subtitle>
      </div>
    </mat-card-header>
  </mat-card>
</div>
