<div fxLayout="row" fxLayoutAlign="center center" class="form-wrapp">
  <div class="form-container">
    <div class="form-one">
      <mat-form-field>
        <mat-select placeholder="Select item">
          <mat-option *ngFor="let item of items" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Select quantity">
          <mat-option *ngFor="let quantity of quantitys" [value]="quantity.value">
            {{quantity.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-two">
      <mat-form-field appearance="outline">
        <mat-label>Item description (optional)</mat-label>
        <textarea matInput placeholder="Textarea"></textarea>
      </mat-form-field>
    </div>
  </div>
</div>
