<div class="example-container">
  <mat-form-field appearance="outline">
    <mat-label>Standard form field</mat-label>
    <input matInput placeholder="Input">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Standard form field</mat-label>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select" appearance="outline">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</div>
