<div class="form-user-container">
    <div fxLayout="row" fxLayoutAlign="space-evenly center" >
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>First surname</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Second surname</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
