<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="item">
    <th mat-header-cell *matHeaderCellDef> Item </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field>
        <mat-select placeholder="Select item">
          <mat-option *ngFor="let item of items" [value]="item.value">
            {{item.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Quantity Column -->
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef> Quantity </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field>
        <mat-select placeholder="Select quantity">
          <mat-option *ngFor="let quantity of quantities" [value]="quantity.value">
            {{quantity.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- discount Column -->
  <ng-container matColumnDef="discount">
    <th mat-header-cell *matHeaderCellDef> Discount </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field>
        <mat-select placeholder="Select discount">
          <mat-option *ngFor="let discount of discounts" [value]="discount.value">
            {{discount.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- surcharge Column -->
  <ng-container matColumnDef="surcharge">
    <th mat-header-cell *matHeaderCellDef> Surcharge </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field>
        <mat-select placeholder="Select surcharge">
          <mat-option *ngFor="let surcharge of surcharges" [value]="surcharge.value">
            {{surcharge.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Cost Column -->
  <ng-container matColumnDef="cost">
    <th mat-header-cell *matHeaderCellDef> Cost </th>
    <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
